In [1]:
print("hola hola")

hola hola

In [2]:
!pip3 install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (334 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.7/334.7 kB 8.2 MB/s eta 0:00:00:00:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [1]:
import pyodbc

In [4]:
server = "temp-server-0.database.windows.net"
database = "temp-db"
username = "adminadmin"
password = "123456Admin"
driver = "{ODBC Driver 18 for SQL Server}"

In [15]:
conn_str = f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}'
conn = pyodbc.connect(conn_str)

In [16]:
cursor = conn.cursor()

In [17]:
query = """
SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
"""
cursor.execute(query)

In [18]:
rows = cursor.fetchall()

In [19]:
for row in rows:
    print(row.TABLE_NAME)

test_table

In [11]:
try:
    # Connect to the database
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()

    # Step 1: Create a table
    create_table_query = """
    CREATE TABLE test_table (
        id INT PRIMARY KEY,
        name NVARCHAR(50),
        age INT
    )
    """
    cursor.execute(create_table_query)
    print("Table created successfully.")

    # Step 2: Insert some rows
    insert_query = """
    INSERT INTO test_table (id, name, age) VALUES (?, ?, ?)
    """
    rows_to_insert = [
        (1, 'Alice', 30),
        (2, 'Bob', 25),
        (3, 'Charlie', 35)
    ]
    cursor.executemany(insert_query, rows_to_insert)
    conn.commit()
    print("Rows inserted successfully.")

    # Step 3: Display all rows
    select_query = "SELECT * FROM test_table"
    cursor.execute(select_query)
    rows = cursor.fetchall()

    print("Displaying all rows:")
    for row in rows:
        print(row)

    # Close the connection
    cursor.close()
    conn.close()

except pyodbc.Error as ex:
    print("Error: ", ex)

Table created successfully.
Rows inserted successfully.
Displaying all rows:
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 35)